# 忽略系统文件
.DS_Store
Thumbs.db
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dll


# 忽略编译生成的文件
*.o
*.obj
*.class
*.bin
*.exe
*.out

# 忽略日志文件
*.log
*.log.*

# 忽略临时文件
*.tmp
*.temp
*.swp
*.swo

# 忽略 gym_unrealcv/envs/UnrealEnv 下的所有文件
gym_unrealcv/envs/UnrealEnv/*